VUE_APP_MAIN_APP_URL="http://localhost:8080"
VUE_APP_SOCKET_URL="http://localhost"
VUE_APP_FETCH_PREFIX="http://localhost/api"
# Optional
VUE_APP_NERTIVIA_CDN= 
# development sitekey
VUE_APP_CAPTCHA_SITE_KEY="10000000-ffff-ffff-ffff-000000000001"
VUE_APP_TWEMOJI_LOCATION="http://localhost/twemojis"
# Optional
VUE_APP_IMAGE_PROXY_URL= 

# Firebase (All Optional)
VUE_APP_FCM_API_KEY=
VUE_APP_FCM_AUTH_DOMAIN=
VUE_APP_FCM_DATABASE_URL=
VUE_APP_FCM_PROJECT_ID=
VUE_APP_FCM_STORAGE_BUCKET=
VUE_APP_FCM_SENDER_ID=
VUE_APP_FCM_APP_ID=