.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.code {
  color: #d0d0d0;
  background: rgb(60, 60, 60, 0.4);
  padding: 2px;
  border-radius: 4px;
  font-size: 16px;
}

.codeblock {
  margin: 0;
  background: rgb(60, 60, 60, 0.4);
  border-radius: 2px;
  padding: 5px;
  border-radius: 4px;

  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

blockquote {
  margin: 0;
  padding: 0.3rem 0.6rem;
  border-left: 2px var(--primary-color) solid;
  background: var(--quote-bg-color);
}

.inline blockquote {
  padding-block: 0;
}

.emoji {
  height: 1.4em;
  width: 1.4em;
  vertical-align: -7.5px;
}

.large-emoji .emoji {
  height: 5em;
  width: 5em;
}

.hidden-quote {
  color: var(--hidden-quote-color);
  font-weight: bold;
}

.vertical {
  overflow: auto;

  writing-mode: vertical-rl;
  max-width: 40vw;
}