.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.code {
  color: #f9e6ff;
  background: #123c;
  border-radius: 2px;
}

.codeblock {
  padding: 0;
  margin: 0;
}

.codeblock {
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

blockquote {
  margin: 0;
  padding: 0.3rem 0.6rem;
  border-left: 2px var(--primary-color) solid;
  background: var(--quote-bg-color);
}
